<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>




    <hr style="margin-top:2em;">
    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
