<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <h2><%= page_title %></h2>

    <form method="post" action="/robots/new">
      <label for="robot_name">Name:</label>
      <input type="text" name="robot_name">

      <input type="submit">
    </form>



    <hr style="margin-top:2em;">
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
